$green: #4AF6CD;
html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  text-decoration: none;
}

button{
  border: none;
  display: inline-block;
  cursor: pointer;
}

li, ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

h1, h2, h3,  h4, .h1, .h2, .h3, .h4{
  margin: 0;
  padding: 0;
  margin-left: 0px;
}

.container{
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

.title{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  color: #202020;
  margin-bottom: 30px;

}

.text{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */


  color: #272727;
}
