@import "_vars";
@import "_Libs";
@import "_fonts";
@import "global";

$ass-color: #250F8A;

.header{
  width: 100vw;
  max-width: 100%;
  min-height: 793px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  color: white;
}

.header__menu{
  width: 100%;
  padding: 30px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  &-logo{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.349794px;

    position: relative;
    padding-left: 80px;
    & a{
      color: white;
    }
    &::before{
      top: -25%;
      height: 36px;
      width: 68px;
      content: "";
      position: absolute;
      left: 0;
      background: url("../img/logo.svg") center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &-item{
    display: inline-block;
    opacity: 0.5;
  }
  &-item--active, &-item:hover{
    opacity: 1;
  }
  &-item a{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 25px;

    color: #d9d9d9;
  }
}

.header__menu-btn-login{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-right: 44px;
  background: none;
}
.header__menu-btn-signup{
  background-color: #fff;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;

  color: $ass-color;

  padding: 8px 43px;
  border-radius: 20px;
}

.header__content{
  padding-top: 141px;
  &-text{
    width: 505px;
    display: inline-block;
  }
  &-title{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    color: #FFFFFF;
  }
  &-line{
    margin-top: 8px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 55px;

    color: #FFFFFF;
  }
  &-btn{
    margin-top: 60px;
    padding: 13px 39px;
    border-radius: 25px;

    background-color: #FFCA00;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;

    text-transform: uppercase;

    color: #250F8A;
  }
  .header__content-img{
    float: right;
    margin-right: 80px;
    margin-top: 20px;
  }

}

.specialised{
  padding: 55px 95px 94px 95px;
  text-align: center;
}
.specialised-title{
  margin: auto;
}
.specialised-title h1{
  margin-bottom: 96px;
}
.specialised-items{
  display: flex;
  justify-content: space-between;
}
.specialised-item{
  width: 280px;
}
.specialised-item__title{
  width: 100%;
  margin: 23px auto 10px auto;
}
.specialised-item__text{
  font-family: Source Sans Pro;
  font-size: 15px;
  line-height: 24px;
  color: #272727;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.experience__inner{
  padding-top: 91px;
  padding-bottom: 76px;
  display: flex;
  justify-content: space-between;
}
.experience__text{
  width: 457px;
  padding-left: 47px;
  align-self: center;
}

.information__inner{
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.information__text{
  width: 457px;
  padding-left: 47px;
  align-self: center;
}

.idea-generation__inner{
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
}
.idea-generation__text{
  width: 457px;
  padding-left: 47px;
  align-self: center;
}

.testimonial{
  color: white;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.testimonial__title{
  font-size: 35px;
  line-height: 45px;
  color: #FFFFFF;
  width: 385px;
  color: white;
  text-align: center;
  margin: 45px auto 45px auto;
}
.testimonial__list{
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.testimonial__item{
  width: 300px;
  padding: 35px 20px;
  background: url('../img/testimonial-item-bg.svg') center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonial__item-person-icon{
  display: inline-block;
  width:50px;
  height: 50px;

  & img{
    border-radius: 50%;
  }
}

.testimonial__item-person{
  margin-bottom: 12px;
}
.testimonial__item-person-name{
  display: inline-block;

  padding: 2px 0 0 20px;;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */


  color: #FFFFFF;

  & span{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}

.testimonial__item-text{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  text-align: center;

  color: #FFFFFF;

  & span{
    display: block;
    margin: auto;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    /* identical to box height, or 137% */


    color: #FFFFFF;
  }
}

footer{
  background-color: #fff;
}
.footer__menu{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: center;

  color: #272727;
}
.footer__menu-links{
  display: flex;
  justify-content: space-between;

}

.footer__menu-link{
  padding: 0 20px;
}

.footer__menu-link a{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: center;

  color: #272727;
}

@media (max-width: 924px){
  .header__menu{
    flex-wrap: wrap;
  }
  .header__menu-item{
    display: inline-block;
  }
  .header__menu-btns{
    width: 100%;
    text-align: right;
    margin-top: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 570px){
  .header__menu-items{
    padding-right: 30px;
  }

  .header__menu-burger{
    width: 30px;
    height: 20px;
    position: relative;
  }
  .header__menu-burger::after{
    content: "";
    top: 0px;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
  }
  .header__menu-burger::before{
    content: "";
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: white;
    position: absolute;
  }
  .header__menu-burger span{
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom:  9px;
  }
}


@import "_media";
